extends layout

block links
  link(rel='stylesheet' href='/stylesheets/whiteboard.css')

block content
  span Choose canvas:&nbsp;
  input(id='canvasIndex' type='number' min='0' max='4294967295' value='0')
  input(id='canvasIndexSubmit' type='submit' value='Submit')
  br
  canvas(id='myCanvas' width=512 height=512)
    Your browser does not support the HTML5 canvas tag.
  br
  span Choose an action:&nbsp;
  //button(id='clearCanvas' type='button') Clear
  button(id='undo' type='button' disabled) Undo
  button(id='redo' type='button' disabled) Redo
  br
  span Choose a shape:&nbsp;
  button(class='shape') Free
  button(class='shape') Line
  button(class='shape') Rect
  button(class='shape') Arc
  br
  span Choose a strokeStyle:&nbsp;
  button(id='red' class='color') Red
  button(id='orange' class='color') Orange
  button(id='yellow' class='color') Yellow
  button(id='green' class='color') Green
  button(id='cyan' class='color') Cyan
  button(id='blue' class='color') Blue
  button(id='purple' class='color') Purple
  br
  span Choose a lineWidth:&nbsp;
  input(id='lineWidth' type='range' name='lineWidth' min='1' max='32' value='1')
  input(id='rangeValue' type='number' min='1' max='32' value='1')
  script(
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"
  )
  script(type='text/javascript' src='javascripts/whiteboard.js')
