extends layout

block links
  link(rel='stylesheet' href='/stylesheets/whiteboard.css')

block content
  span Choose canvas:&nbsp;
  input(id='canvasIndex' type='text' maxlength='10' value='0')
  input(id='canvasIndexSubmit' type='submit' value='Submit')
  br
  canvas(id='myCanvas' width=512 height=512)
    Your browser does not support the HTML5 canvas tag.
  br
  span Choose an action:&nbsp;
  //button(id='clearCanvas' type='button') Clear
  button(id='undo' type='button') Undo
  button(id='redo' type='button') Redo
  br
  span Choose a shape:&nbsp;
  button(id='free') Free
  button(id='line') Line
  button(id='rect') Rect
  button(id='arc') Arc
  br
  span Choose a strokeStyle:&nbsp;
  button(id='red') Red
  button(id='orange') Orange
  button(id='yellow') Yellow
  button(id='green') Green
  button(id='cyan') Cyan
  button(id='blue') Blue
  button(id='purple') Purple
  br
  span Choose a lineWidth:&nbsp;
  input(id='lineWidth' type='range' name='lineWidth' min='1' max='32' value='1')
  input(id='rangeValue' type='text' maxlength='2' value='1')
  script(
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"
  )
  script(type='text/javascript' src='javascripts/whiteboard.js')
