#myCanvas {
  border: 1px solid white;
}

.color {
  width: 64px;
}
#white {
  background-color: white;
}
#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#cyan {
  background-color: cyan;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}

input[type='range']::-moz-range-thumb {
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
}

#rangeValue {
  width: 64px;
}
